<!-- Feature Section start -->
<section id="feature" class="feature" #feature>
  <div class="feature-decor">
    <div class="feature-circle1"><img src="../../../../assets/images/feature2.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="feature-phone">
        <img src="../../../../assets/images/222.png" class="img-fluid" alt="">
      </div>
      <div class="offset-lg-4 col-lg-8">
        <div class="row">
          <div class="col-sm-12 mrgn-md-top">
            <h2 class="title">features of<span> the list shop</span></h2>
          </div>
          <div class="col-12 col-md-6">
            <ul class="feature-style">
              <li>
                <div class="feature-icon">
                  <img src="../../../../assets/images/listshop/icons/featureplus.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>multiple lists</h3>
                </div>
                <div>
                  <p>Create multiple lists, and easily move or copy items between lists.</p>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                  <img src="../../../../assets/images/listshop/icons/featureplus.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Filter</h3>
                </div>
                <div>
                  <p>Hide crossed items - or show only your crossed off items, as you like.</p>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                  <img src="../../../../assets/images/listshop/icons/featureplus.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Offline mode</h3>
                </div>
                <div>
                  <p>Seamlessly transfers into offline mode when there isn't an internet connection.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6 sm-m-top">
            <ul class="feature-style">
              <li>
                <div class="feature-icon">
                  <img src="../../../../assets/images/listshop/icons/featureplus.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Add by...</h3>
                </div>
                <div>
                  <p>Add to your list by item, by list, or by dish.</p>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                  <img src="../../../../assets/images/listshop/icons/featureplus.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Personalized</h3>
                </div>
                <div>
                  <p>keeps the items which you add and remove from lists handy. </p>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                  <img src="../../../../assets/images/listshop/icons/featureplus.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Get a jump start</h3>
                </div>
                <div>
                  <p>Create a starter list of the things you get  - or want to remind yourself to get) each big shopping trip. </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Section End -->
