<h2>Share your Thoughts</h2>
 <div >
     <div class="feedback-form">
        <span>Email</span>
        <input type="text" maxlength="30" class="form-control ls-inline-input"
               [(ngModel)]="email"
               placeholder="(optional)"
        />
    </div>
    <div class="feedback-form">
        <span>Feedback</span>
        <textarea  class="form-control ls-inline-input"
               [(ngModel)]="feedback" rows="8" maxlength="500"></textarea>
    </div>
    <div class="ls-list-span-buttons submit-button" (click)="submitFeedback()">
        <span class="orange-arrows">
        >>
    </span>
        <span class="submit-button">
        Submit
    </span>
    </div>
</div>