# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/listshop-webclient.iml
/src/assets/app.css
/src/app/landing/contentheader/content-header.component.css
/src/app/landing/contentheader/content-header.component.css.map
/src/app/shared/header/header.component.css
/src/app/shared/header/header.component.css.map
/src/app/dishes/manage-dishes/manage-dishes.component.css
/src/app/dishes/manage-dishes/manage-dishes.component.css.map
/src/app/meal-plans/manage-mealplans/manage-meal-plans.component.css
/src/app/meal-plans/manage-mealplans/manage-meal-plans.component.css.map
/src/assets/scss/responsive.css.map
