<!-- sign up start-->
<section class="authentication-form">
    <div class="innerpage-decor">
        <div class="innerpage-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
        <div class="innerpage-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
    </div>
    <div>
        <h2 class="title text-center"><span>Reset Password</span></h2>
        <div class="card">
            <p class="instructions">To reset your password, please enter the email for your account below.</p>
            <p class="instructions">We'll send you an email, with a link you can use to reset your password.</p>
            <form [formGroup]="signUpForm" #formDir="ngForm" class="theme-form">
                <div class="form-group">
                    <input type="email"
                           placeholder="email address"
                           class="form-control"
                           formControlName="email" required>
                </div>
                <div *ngIf="this.generalError"
                     class="alert alert-danger">
                    <div>
                        An error occurred while processing this request.
                    </div>
                </div>
                <div *ngIf="emailErrors.length > 0"
                     class="alert alert-danger">
                    <div *ngIf="errorsContain(emailErrors, 'isRequired')">
                        Email is required.
                    </div>
                    <div *ngIf="errorsContain(emailErrors, 'textTooLong')">
                        Email must be at less than 50 characters long.
                    </div>
                    <div *ngIf="errorsContain(emailErrors, 'textTooShort')">
                        Email must be at least 6 characters long.
                    </div>
                    <div *ngIf="errorsContain(emailErrors, 'cantHaveSpaces')">
                        The email cannot contain spaces.
                    </div>
                    <div *ngIf="errorsContain(emailErrors, 'InvalidEmail')">
                        Please enter a valid email.
                    </div>
                    <div *ngIf="errorsContain(emailErrors, 'EmailNotFound')">
                        We don't have this email in our system. Please try another one.
                    </div>
                </div>
                <div class="form-button text-right">
                    <button type="submit" (click)="requestReset()" class="btn btn-custom theme-color">Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<ngx-spinner bdColor = "rgba(0,0,0,0.3)" size = "medium" color = "#e67d21" type = "ball-spin-fade-rotating" [fullScreen] = "true"><p style="color: white" > Processing... </p></ngx-spinner>
<!-- sign up end-->
