<app-content-header></app-content-header>
<!-- blog Section Start -->
<section id="blog" class="about-me">
    <div class="about-decor">
        <div class="about-circle1"><img src="../../../../assets/images/team1.png" alt=""></div>
        <div class="about-circle2"><img src="../../../../assets/images/main-banner1.png" alt=""></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title">about <span>your privacy</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">


                <div class="about-me-text">
                    <p>Here's what you need to know about our privacy policy.</p>
                    <ul>
                        <li><span>Email: </span>Your email is used as an account identifier. We won't contact you at
                            that email address unless you expressly give us permission, or in the context of resetting
                            or changing your password.
                        </li>
                        <li><span>Cookies: </span>Currently the only cookie saved by the website contains your login
                            information, so that you can remain connected between visits. Logging out removes this
                            cookie.
                        </li>
                        <li><span>Deletion: </span>You can delete your user, and all data connected to your user at any
                            time by clicking <a [routerLink]="'/user/delete'">here</a>.

                        </li>
                        <li><span>Details:</span>For full details, you can read and download the full privacy policy
                            <a href="../../../assets/documents/privacy_2022_02.pdf" target="_blank">here</a>.
                        </li>
                    </ul>


                </div>

            </div>
        </div>

    </div>
</section>
<!-- blog Section End -->