
<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">
                <h2 class="title"><span>Shopping Lists</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
                <a  [routerLink]="'/home'" >
                    <img src="assets/images/buttons/orangeadd.png" alt="add"></a>
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--content start-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="row ">
                    <!-- single list element -->
                    <div class="col-lg-4 col-md-6">
                        <app-single-list-element></app-single-list-element>
                    </div>
                    <!-- single list element -->
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-block">
                                <div class="blog-box">
                                    <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="../../../../assets/images/blog/6.jpg" alt="blog" class="img-fluid"></a></div>
                                </div>
                            </div>
                            <div class="blog-text">
                                <a [routerLink]="'/blog/details'">
                                    <h3>There are many variations of passages.</h3>
                                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry Lorem .</p>
                                </a>
                                <h5>Mark jkcno</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-block">
                                <div class="blog-box">
                                    <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="../../../../assets/images/blog/7.jpg" alt="blog" class="img-fluid"></a></div>
                                </div>
                            </div>
                            <div class="blog-text">
                                <a [routerLink]="'/blog/details'">
                                    <h3>There are many variations of passages.</h3>
                                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry Lorem .</p>
                                </a>
                                <h5>Mark jkcno</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-block">
                                <div class="blog-box">
                                    <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="../../../../assets/images/blog/8.jpg" alt="blog" class="img-fluid"></a></div>
                                </div>
                            </div>
                            <div class="blog-text">
                                <a [routerLink]="'/blog/details'">
                                    <h3>There are many variations of passages.</h3>
                                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry Lorem .</p>
                                </a>
                                <h5>Mark jkcno</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-block">
                                <div class="blog-box">
                                    <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="../../../../assets/images/blog/9.jpg" alt="blog" class="img-fluid"></a></div>
                                </div>
                            </div>
                            <div class="blog-text">
                                <a [routerLink]="'/blog/details'">
                                    <h3>There are many variations of passages.</h3>
                                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry Lorem .</p>
                                </a>
                                <h5>Mark jkcno</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-item">
                            <div class="blog-block">
                                <div class="blog-box">
                                    <div class="overflow-hidden"><a [routerLink]="'/blog/details'"><img src="../../../../assets/images/blog/9.jpg" alt="blog" class="img-fluid"></a></div>
                                </div>
                            </div>
                            <div class="blog-text">
                                <a [routerLink]="'/blog/details'">
                                    <h3>There are many variations of passages.</h3>
                                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry Lorem .</p>
                                </a>
                                <h5>Mark jkcno</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--content End-->
