<!-- Nav Start -->
<nav class="navbar fixed-top ls-theme-nav">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'/home'"><img src="assets/images/logo.png" alt="logo"></a>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isLogin"><a class="link-button theme-color outline" [routerLink]="['/user/signup']" >
                Sign Up
            </a></li>
            <li *ngIf="!isLogin"><a class="link-button theme-color outline" [routerLink]="['/user/login']" >
                Sign In
            </a></li>
        </ul>
    </div>
    <!-- <button type="submit" class="btn btn-custom fb">Facebook</button> -->
</nav>
<!-- Nav end-->