<app-content-header></app-content-header>
<!-- blog Section Start -->
<section id="blog" class="about-me">
    <div class="about-decor">
        <div class="about-circle1"><img src="../../../../assets/images/team1.png" alt=""></div>
        <div class="about-circle2"><img src="../../../../assets/images/main-banner1.png" alt=""></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title">about <span>the project</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="clearfix">
                    <div class="about-me-block float-left">
                        <div class="about-me-box">
                            <div class="overflow-hidden"><img
                                    src="../../../../assets/images/landing/aboutme/aboutme.png" alt=""></div>
                        </div>
                    </div>
                    <div class="about-me-text">
                        <p>At home, I'm a mom. At work, I'm a part of a team of programmers. And in some of the space in
                            between, I've been creating this website and app over the past couple of years.
                        </p>
                        <p>
                            The idea started with a six month old baby, and an apartment on the second floor without an
                            elevator. When I saw that my grocery store would deliver for free, I jumped on the
                            possibility. The only thing - there was a minimum purchase for free delivery. So I picked
                            out a few dishes, and made a list for a few days, to be sure that I would meet the minimum
                            purchase for delivery. I ended up loving it - not just having the groceries delivered to my
                            door, but knowing what dishes I had shopped for, that I had on hand for making dinner. Being
                            a programmer, I started working on a tool which would save which items I needed for each
                            dish, and could pull them together into a list. That tool was the seed of <span
                                class="listshop-name">the list shop</span>.
                        </p>
                        <p>
                            As I've worked on this project, I've talked to people about how they shop. I found out there
                            are a ton of different ways of filling the cupboards. Some people do a small shopping trip
                            each day. Some people will do a large shopping trip once a month for the staples, and fill
                            in with fresh items once or twice a week. Some people go to the store without a list at all,
                            and just let themselves be inspired by the produce in season or the special deals or even
                            just the moment.
                        </p>
                        <p>
                            My goal with this project became to make a tool which would be useful for managing shopping
                            list, regardless of your shopping style. If you're a weekly shopper, like I am, you can make
                            a nice weekly list by combining a starter list with the dishes you'll prepare during the
                            week. If you love being inspired as you shop, <span
                                class="listshop-name">the list shop</span> can be a tool you can use to
                            lookup at a glance - "What is it that I can make with these fresh tomatoes? What else do I
                            need to make that?"
                        </p>
                        <p>
                            I hope that you find this tool useful. I welcome any and all feedback. </p>
                        <p>Happy shopping!</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- blog Section End -->