<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">
                <h2 class="title"><span>Meal Plans</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
                <a (click)="createMealPlan()">
                    <img src="../../../assets/images/listshop/icons/orangeround/orangeadd.png" alt="add"></a>
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--content start-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="row ">
                    <div *ngFor="let plan of mealPlans"
                         class="col-lg-4 col-md-6">
                        <!-- single list element -->
                        <app-single-plan-element
                                [dishName]="plan.name"
                                [planId]="plan.meal_plan_id"
                                (delete)="deleteMealPlan($event)"
                                (edit)="editMealPlan($event)"></app-single-plan-element>
                        <!-- single list element -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--content End-->
