<!-- About Start -->
<section id="about" class="about" #about>
    <div class="about-decor">
        <div class="about-circle1"><img src="../../../../assets/images/team1.png" alt="team1"></div>
        <div class="about-circle2"><img src="../../../../assets/images/main-banner1.png" alt="banner1"></div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-5">
                <div class="about-contain">
                    <div>
                        <h2 class="title">about <span>the list shop</span></h2>
                        <p class="caption-about"><span>the list shop</span> isn't just about making a shopping list.  It's about making
                            <span style="font-style:italic;text-transform:none; font-weight:normal">making</span> a shopping list easier.  Whether you do planned shopping trips, or find inspiration as you shop, <span>the list shop</span> is a tool which helps you get the things you need
                            to make the meals you want.</p>
                        <div class="row sm-mb">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 d-medium-none">
                <div class="about-right">
                    <div class="about-phone">
                        <img src="../../../../assets/images/aboutus.png" class="img-fluid" alt="aboutus">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About End -->
