<!-- sign up start-->
<section class="authentication-form">
    <div class="innerpage-decor">
        <div class="innerpage-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
        <div class="innerpage-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
    </div>
    <div>
        <h2 class="title text-center"><span>Reset Password</span></h2>
        <div class="card">

            <p class="instructions">Please enter and confirm your new password. </p>

            <form [formGroup]="signUpForm" #formDir="ngForm" class="theme-form">
                <div class="form-group">
                    <input type="password" placeholder="new password" class="form-control" formControlName="userPassword"
                           required>
                </div>

                <div class="form-group">
                    <input type="password" placeholder="confirm password" class="form-control"
                           formControlName="confirmPassword" required>
                </div>
                <div *ngIf="passwordErrors.length > 0 || generalError"
                     class="alert alert-danger">
                    <div *ngIf="errorsContain(passwordErrors, 'isRequired')">
                        The password and password confirmation are required.
                    </div>
                    <div *ngIf="errorsContain(passwordErrors, 'textTooLong')">
                        Passwords must be at less than 50 characters long.
                    </div>
                    <div *ngIf="errorsContain(passwordErrors, 'textTooShort')">
                        Passwords must be at least 6 characters long.
                    </div>
                    <div *ngIf="errorsContain(passwordErrors, 'cantHaveSpaces')">
                        Passwords cannot contain spaces.
                    </div>
                    <div *ngIf="errorsContain(passwordErrors, 'badVerificationMatch')">
                        The password and password confirmation don't match.
                    </div>
                    <div *ngIf="generalError">
                        An error occurred while processing this request.
                    </div>
                </div>
                <div class="form-button text-center">
                    <button type="submit" (click)="resetPassword()" class="btn btn-custom theme-color">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- sign up end-->
