@import '../../../assets/scss/variable';

.add-button {
    display: inline-block;
    margin-top: 5px;
}

.ls-tag-group-subtitle {
  color: $color_dark_grey;
  font-weight: bold;
  font-size: large;
  padding-bottom: 5px;
  text-transform: capitalize;
  margin-bottom: 5px;
}