<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">

            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--breadcrumb start-->
<div class="breadcrumb-bg breadcrumb-for-bar">
    <div class="container dish-toolbar">
        <div class="row">
            <div class=" col-sm-6 col-md-8 col-lg-8">
                <h2 class="title"><span>{{dish.name}}</span></h2>
            </div>
            <div class="col-md-4 col-sm-6 col-text-end">
                <div class="title-bar-action">
                    <a class="nav-link" [routerLink]="'/dishes'">All Dishes</a>
                </div>
            </div>

        </div>
    </div>

</div>
<!--breadcrumb end -->

<!--content start-->
<section>
    <div class="container">
        <div class="row">

            <div *ngIf="isLoading" class="col-md-12 " class="loading-box">
                <div class="loading-text">loading dishes...</div>
            </div>
            <ng-container *ngIf="!isLoading">
                <div class="col-md-12 ">
                    <div class="row ">
                        <!-- left top row element, eckdaten -->
                        <div class="col-lg-8 col-md-6">
                            <!-- description and reference-->
                            <div  class="ls-card">
                                <div >
                                    <span  class="ls-tag-group-subtitle">Description:
                                    </span> the description here</div>
                                <div >
                                    <span  class="ls-tag-group-subtitle">Reference:
                                    </span> the reference here</div>
                                <div >
                                    <span  class="ls-tag-group-subtitle">Dish Type:
                                    </span> Main Dish, Side Dish</div>
                                <div  class="ls-card-link-block"><a
                                         class="ls-card-link">edit</a></div>
                                <div  class="clearfix"></div>
                            </div>
                            <!-- description -->
                            <div  class="ls-card">
                                <div  class="ls-tag-group-subtitle">Ingredients:
                                </div>
                                <ul>
                                    <li>onions</li>
                                    <li>chicken</li>
                                    <li>rice</li>
                                    <li>lemon</li>
                                </ul>
                                <div  class="ls-card-link-block">
                                    <span><a  class="add-button">
                    <img src="../../../assets/images/listshop/icons/orangeround/orangeadd.png" alt="add"></a></span></div>
                                <div  class="clearfix"></div>
                            </div>

                        </div>
                        <!-- left top row element, eckdaten -->
                        <!-- right top row element, tags -->
                        <div class="col-lg-4 col-md-6">

                            <div  class="ls-card">
                                <div  class="ls-tag-group-subtitle">Tags:
                                </div>
                                <div >
                                    <ul>
                                        <li>Kids like it</li>
                                        <li>Picnic</li>
                                        <li>Easy to Make</li>
                                    </ul>
                                </div>
                                <div  class="ls-card-link-block">
                                    <span><a  class="add-button">
                    <img src="../../../assets/images/listshop/icons/orangeround/orangeadd.png" alt="add"></a></span></div>
                                <div  class="clearfix"></div>
                            </div>
                            <div  class="ls-card">
                                <div  class="ls-tag-group-subtitle">Ratings:
                                </div>
                                <div >
                                    <ul>
                                        <li>Yum factor</li>
                                        <li>Ease of Prep</li>
                                        <li>Prep Speed</li>
                                        <li>Elegance</li>
                                    </ul>
                                </div>
                                <div  class="ls-card-link-block">
                                    <span><a  class="add-button">
                    <img src="../../../assets/images/listshop/icons/orangeround/orangeadd.png" alt="add"></a></span></div>
                                <div  class="clearfix"></div>
                            </div>
                            <!-- description -->


                        </div>
                        <!-- right top row element, tags -->
                    </div>
                    <div class="row ">
                        <!-- left top row element, eckdaten -->
                        <div class="col-lg-8 col-md-6">
                            <!-- ingredients-->


                            <!-- ingredients -->


                        </div>
                        <!-- left top row element, eckdaten -->
                        <!-- right top row element, tags -->
                        <div class="col-lg-4 col-md-6">


                            <!-- description -->


                        </div>
                        <!-- right top row element, tags -->
                    </div>
                </div>

            </ng-container>
        </div>
    </div>
</section>
<!--content End-->

<!-- modal -->
<app-modal #tagaddedmodal [autoHide]="2500">
    <div class="app-modal-body">
        Tag added to Dishes
    </div>
</app-modal>
<app-modal #dishesaddedtomealplan [autoHide]="2500">
    <div class="app-modal-body">
        Dishes added to meal plan
        <div *ngIf="displayId != null" style="float:right"><a class="modal-link" href="#">
            <!--[routerLink]="'/lists/edit/' + displayId"-->
            Go To Meal Plan</a></div>
    </div>
</app-modal>
<app-modal #addtagstodishesmodal [autoHide]="2500">
    <div class="app-modal-body">
        "{{displayId}}" tag added to dishes
    </div>
</app-modal>


