@import '../../../assets/scss/variable';

.add-button {
  display: inline-block;
  margin-top: 5px;
}

.inline-add-button {
  display: inline-block;
  margin-top: 5px;
  img {
    max-height: 15px;
  }
  margin-right: 5px;
}

.ls-tag-group-subtitle {
  color: $color_dark_grey;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  text-transform: capitalize;
  margin-bottom: 5px;
  border-radius: 0.25rem;
  margin: 10px;
  vertical-align: top;
}

.ls-empty-info-span {
  letter-spacing: 3px;
  color: #777777;
  padding-left: 10px;
  font-size: small;
}

.ls-list-span {
  display: block;
  text-transform: capitalize;
  padding-left: 28px;
  &:hover {
    font-weight: bolder;
    &:after {
      font-weight: bolder;
      content: ' X ';
      color: $color_basic_orange;
    }
  }
}



.ls-list-comma {
  text-transform: capitalize;
  &:after {
    content: ', ';
  }
  &:hover {
    font-weight: bolder;
    padding-left: 5px;
    &:after {
      content: ' X ';
      color: $color_basic_orange;
      font-weight: bolder;
      padding-right: 5px;
    }
  }
  &:last-of-type {
    &:after {
      content: ' ';
    }
    &:hover {
      &:after {
        content: ' X ';
        color: $color_basic_orange;
        font-weight: bolder;
        padding-right: 5px;
      }
    }
  }
}

.ls-rating {
  text-transform: capitalize;
  padding-bottom: 5px;
}

.ls-inline-input {
  display: inline;
  width: 75%;
  padding-left: 10px;
  margin-bottom: 5px;
}

.ls-inline-block {
  display: inline-block;
  width: 50%;
  margin-bottom: -15px;
}



.ls-add-tag {
  padding-top: 5px;
}

.filled{
  color: $color_basic_orange;
  font-size: x-large;
}

.notfilled{
  color:#6e6a6a;
  font-size: x-large;
}

.ls-input-error {
  display: inline-block;
  width: 80%;
  div {color: red;}
}




