<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">

            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--breadcrumb start-->
<div class="breadcrumb-bg breadcrumb-for-bar">
    <div class="container dish-toolbar">
        <div class="row">
            <div class=" col-sm-6 col-md-8 col-lg-8">
                <h2 class="title"><span>{{dish.name}}</span></h2>
            </div>
            <div class="col-md-4 col-sm-6 col-text-end">
                <div class="title-bar-action">
                    <a class="nav-link" [routerLink]="'/dishes'">All Dishes</a>
                </div>
            </div>

        </div>
    </div>

</div>
<!--breadcrumb end -->

<!--content start-->
<section>
    <div class="container">
        <div class="row">

            <div *ngIf="isLoading" class="col-md-12 " class="loading-box">
                <div class="loading-text">loading dish...</div>
            </div>
            <ng-container *ngIf="!isLoading">
                <div class="col-md-12 ">
                    <div class="row ">
                        <!-- left top row element, eckdaten -->
                        <div class="col-lg-8 col-md-6">
                            <!-- description and reference-->
                            <div class="ls-card">

                                <ng-container *ngIf="!showEditMainInfo">
                                    <div>
                                        <span class="ls-tag-group-subtitle">Description:
                                        </span>
                                        <span *ngIf="stringFieldEmpty(dish.description)"
                                              class="ls-empty-info-span">empty</span>
                                        <span>{{dish.description}}</span>


                                    </div>
                                    <div>
                                    <span class="ls-tag-group-subtitle">Reference:
                                    </span>
                                        <span *ngIf="stringFieldEmpty(dish.reference)"
                                              class="ls-empty-info-span">empty</span>
                                        {{dish.reference}}
                                    </div>
                                    <div>
<span class="ls-tag-group-subtitle">Dish Type:
</span>
                                        <span *ngIf="!showAddDishType"><a class="inline-add-button"
                                                                          (click)="toggleShowAddDishTypeTag()">
<img src="../../../assets/images/listshop/icons/orangeround/orangeadd.png" alt="add"></a></span>

                                        <span *ngFor="let tag of dishTypeTags"
                                              (click)="removeTagFromDish(tag)" class="ls-list-comma">{{tag.name}}</span>
                                        <ng-container *ngIf="showAddDishType">
                                            <div class="ls-inline-block">
                                                <app-tag-select class="at-tag-select-style"
                                                                [tagTypes]="'DishType'"
                                                                [selectType]="'Assign'"
                                                                [allowAdd]="true"
                                                                [showCancelButton]="true"
                                                                [placeholderText]="'Add Dish Type'"
                                                                (tagSelected)="addTagToDish($event)"
                                                                (cancelAddTag)="toggleAddIngredient()"></app-tag-select>
                                            </div>
                                        </ng-container>

                                    </div>
                                    <div class="ls-card-link-block"><a
                                            class="ls-card-link" (click)="toggleEditMainInfo()">edit</a></div>
                                    <div class="clearfix"></div>
                                </ng-container>

                                <ng-container *ngIf="showEditMainInfo">
                                    <div>
                                        <span class="ls-tag-group-subtitle">Name:
                                        </span>
                                        <span>
                                            <input type="text" class="form-control searchbox ls-inline-input"
                                                   aria-describedby="search-query"
                                                   [(ngModel)]="dishName"
                                                   (keyup.enter)="saveAllEdits()"
                                            />
                                        </span>
                                    </div>
                                    <div>
                                        <span class="ls-tag-group-subtitle">Description:
                                        </span>
                                        <span>
                                            <input type="text" class="form-control searchbox ls-inline-input"
                                                   aria-describedby="search-query"
                                                   [(ngModel)]="dishDescription"
                                                   (keyup.enter)="saveAllEdits()"
                                            />
                                            </span>
                                    </div>
                                    <div>
                                        <span class="ls-tag-group-subtitle">Reference:
                                        </span>
                                        <span>
                                            <input type="text" class="form-control searchbox ls-inline-input"
                                                   aria-describedby="search-query"
                                                   [(ngModel)]="dishReference"
                                                   (keyup.enter)="saveAllEdits()"
                                            />
                                            </span>
                                    </div>

                                    <div>
<span class="ls-tag-group-subtitle">Dish Type:
</span>

                                        <span *ngFor="let tag of dishTypeTags"
                                              (click)="removeTagFromDish(tag)" class="ls-list-comma">{{tag.name}}</span>
                                        <ng-container *ngIf="showAddDishType">
                                            <div style="display:inline-block; width: 100%">
                                                <app-tag-select class="at-tag-select-style"
                                                                [tagTypes]="'DishType'"
                                                                [selectType]="'Assign'"
                                                                [allowAdd]="true"
                                                                [showCancelButton]="true"
                                                                [placeholderText]="'Add Dish Type'"
                                                                (tagSelected)="addTagToDish($event)"
                                                                (cancelAddTag)="toggleAddIngredient()"></app-tag-select>
                                            </div>
                                        </ng-container>

                                    </div>
                            <div class="ls-card-link-block"><a
                                    class="ls-card-link" (click)="saveAllEdits()">done</a></div>
                            <div class="clearfix"></div>
            </ng-container>


        </div>
        <!-- description -->
        <div class="ls-card">
            <div class="ls-tag-group-subtitle">Ingredients:
            </div>
            <span *ngFor="let tag of ingredientTags" class="ls-list-span"
                  (click)="removeTagFromDish(tag)">{{tag.name}}</span>

            <div>
                <div *ngIf="this.showAddIngredient" class="ls-add-tag">

                    <app-tag-select class="at-tag-select-style"
                                    [tagTypes]="'Ingredient'"
                                    [selectType]="'Assign'"
                                    [allowAdd]="true"
                                    [showCancelButton]="true"
                                    [placeholderText]="'Add Ingredient'"
                                    (tagSelected)="addTagToDish($event)"
                                    (cancelAddTag)="toggleAddIngredient()"></app-tag-select>

                </div>
                <div *ngIf="!this.showAddIngredient" class="ls-card-link-block">
<span><a class="add-button" (click)="toggleAddIngredient()">
<img src="../../../assets/images/listshop/icons/orangeround/orangeadd.png" alt="add"></a></span>


                </div>
                <div class="clearfix"></div>
            </div>


        </div>

    </div>
    <!-- left top row element, eckdaten -->
    <!-- right top row element, tags -->
    <div class="col-lg-4 col-md-6">

        <div class="ls-card">
            <div class="ls-tag-group-subtitle">Tags:
            </div>
            <div>
<span *ngFor="let tag of plainOldTags" class="ls-list-span"
      (click)="removeTagFromDish(tag)">{{tag.name}}</span>

                <div>
                    <div *ngIf="this.showPlainTag" class="ls-add-tag">

                        <app-tag-select class="at-tag-select-style"
                                        [tagTypes]="'TagType'"
                                        [selectType]="'Assign'"
                                        [allowAdd]="true"
                                        [showCancelButton]="true"
                                        [placeholderText]="'Add Tag'"
                                        (tagSelected)="addTagToDish($event)"
                                        (cancelAddTag)="toggleShowPlainTag()"></app-tag-select>

                    </div>
                    <div *ngIf="!this.showPlainTag" class="ls-card-link-block">
<span><a class="add-button" (click)="toggleShowPlainTag()">
<img src="../../../assets/images/listshop/icons/orangeround/orangeadd.png" alt="add"></a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="ls-card">
            <div class="ls-tag-group-subtitle">Ratings:
            </div>
            <div>
                <ng-container *ngFor="let rating of dishRatingInfo.ratings, let i = index">
                    <div class="ls-rating">
                        {{rating.label}} :
                        <ngb-rating [max]="5" [readonly]="false" [(rate)]="rating.power"
                                    (rateChange)="changeTheRating(rating)">
                            <ng-template let-fill="fill">
<span [class.filled]="fill === 100" [class.notfilled]="fill === 0">
★
</span>
                            </ng-template>

                        </ngb-rating>
                    </div>


                </ng-container>

            </div>
        </div>
        <!-- description -->


    </div>
    <!-- right top row element, tags -->
    </div>
    </div>

    </ng-container>
    </div>
    </div>
</section>

<!--content End-->




