<ng-container *ngIf="isLoggedIn">

    <app-list-shop-header></app-list-shop-header>
</ng-container>
<ng-container *ngIf="!isLoggedIn">
    <app-content-header></app-content-header>
</ng-container>
<!-- blog Section Start -->
<section class="party ">
    <div class="about-decor">
        <div class="about-circle1"><img src="../../../../assets/images/team1.png" alt="team1"></div>
        <div class="about-circle2"><img src="../../../../assets/images/main-banner1.png" alt=""></div>
    </div>
    <div class="container party-top-spacing ">
        <div class="row beta-extra-top">
            <div class="col-12">

                <div class="party-text-box">

                    <h3>We're Celebrating!!</h3>
                    <p>text text text</p>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- blog Section End -->

<app-modal #notification [autoHide]="3500">
    <div class="app-modal-body padding-instructions">
        <h2>Will Do!</h2>
        <div>We'll send you an email when the app is released.</div>

    </div>
</app-modal>

<app-modal #testemailsent [autoHide]="3500">
    <div class="app-modal-body padding-instructions">
        <h2>Great, Thanks!</h2>
        <div>We've sent you an email with testing instructions.</div>
    </div>
</app-modal>
<!-- #e67d21 -->
<ngx-spinner bdColor = "rgba(0,0,0,0.3)" size = "medium" color = "white" type = "ball-spin-fade-rotating" [fullScreen] = "true"><p style="color: white" > Processing... </p></ngx-spinner>