<div class="ls-panel ">
    <div>
        <div class="generate-list-title">
            {{title}}
        </div>

        <div >
            <label class="checkbox-container">Include Starter List
                <input type="checkbox" [(ngModel)]="addStarterToList">
                <span class="checkmark"></span>
            </label>

                <label class="checkbox-container">Save as Meal Plan
                    <input type="checkbox" [(ngModel)]="saveAsMealPlan">
                    <span class="checkmark"></span>
                </label>

            <div class="panel-action" (click)="sendProperties()">Generate List</div>
            <div class="panel-action" (click)="cancelInput()">Cancel</div>
        </div>

    </div>
</div>

