<!-- Nav Start -->
<nav class="navbar navbar-expand-md fixed-top ls-theme-functional-nav">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" [routerLink]="'/home'">
                    <img src="assets/images/header/logoorange.png" alt="logo">
                    <span class="navbar-brand-title">THE LIST SHOP</span></a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 theme-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/lists'">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>

        </ul>
    </div>
</nav>


<!-- Nav end-->