<!-- Nav Start -->
<!--<nav class="navbar fixed-top ls-theme-nav">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'/demo'"><img src="assets/images/logo.png" alt="logo"></a>
        <ul class="nav navbar-nav ml-auto justify-content-end">
            <li><a href="#"><img src="images/Logo_B.png" class="img-responsive">List</a></li>
            <li><a href="#"><img src="images/Logo_B.png" class="img-responsive">Dish</a></li>
            <li><a href="#"><img src="images/Logo_B.png" class="img-responsive">Plan</a></li>
            <li><a href="#"><img src="images/Logo_B.png" class="img-responsive">Admin</a></li>
        </ul>
    </div>
</nav>
-->


<nav class="navbar navbar-expand-md fixed-top ls-theme-nav">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" [routerLink]="'/demo'"><img src="assets/images/logo.png" alt="logo"></a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Right</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Nav end-->