<h2>{{ componentTitle }}</h2>
<ng-container *ngIf="!loading">

    <div>
        <div class="container edit-container">
            <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6 squeeze-right">

                    <app-ingredient-input
                            [startText]="this.startText$"
                            [sendResult]="this.sendResult$"
                            [findSuggestions]="mapSuggestions"
                            [isActive]="this.amountIsActive$"
                            (processAfterChange)="processTextInput($event)"></app-ingredient-input>
                </div>
                <div class=" col-sm-6 col-md-6 col-lg-6 squeeze-left">
                    <div class="tag-display-edit-button">{{ this._ingredient.tag_display }}</div>
                    <div class="done" (click)="finalizeInput()">done</div>
                </div>
            </div>
        </div>
        <div *ngIf="debugTokens"
             style="    color: grey; margin-top: 50px; display: inline-block; min-width: 200px; vertical-align: top;">
            Token list :
            <table>
                <tr *ngFor="let token of tokenList.listOfTokens">
                    <td>{{ token.text }}</td>
                    <td>{{ token.type }}</td>
                    <td>{{ token.id }}</td>
                </tr>

            </table>
        </div>
    </div>
</ng-container>