<!--breadcrumb start-->
<div class="breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-10">
                <h2 class="title">
                        <div *ngIf="showChangeName" class="change-name">
                            <input type="text" class=""
                                   placeholder="{{shoppingList.name}}"
                                   [(ngModel)]="shoppingListName"
                                   (keyup.enter)="saveListName()"
                            />
                            <span (click)="saveListName()"><img  class="lg-button" src="../../../assets/images/listshop/icons/orangeround/large/check.png"
                                        alt="add" ></span>
                            <span (click)="toggleShowChangeName()"><img  class="lg-button" src="../../../assets/images/listshop/icons/orangeround/large/xmarksthespot.png"
                                        alt="add" ></span>


                        </div>
                    <ngContainer *ngIf="!showChangeName">
                        {{shoppingList ? shoppingList.name : 'none'}}
                        <span><img *ngIf="shoppingListIsStarter" class="lg-button" src="../../../assets/images/listshop/icons/orangeround/large/zap.png"
                                   alt="add" >
                </span>
                    </ngContainer>

                </h2>
            </div>
            <div class="col-md-4 col-lg-2 order-md-last title-bar-action">
                <a class="nav-link" [routerLink]="'/lists'">All Lists</a>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb end -->
<!-- list Section starts -->
<section>
    <div class="container">
        <div class="row">
            <!-- shopping list starts -->
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div *ngIf="shoppingList" class="row">
                    <!-- start category loop -->
                    <div *ngFor="let category of shoppingList.categories, let i = index"
                         class="col-sm-12 col-med-6 col-lg-6">

                        <div *ngIf="category.is_highlighted" class="ls-list-column-header ls-list-column-header-special" >
                            {{category.name}}</div>
                        <div *ngIf="!category.is_highlighted" class="ls-list-column-header" >
                            {{category.name}}</div>
                        <div class="row ls-ingredient-block">
                            <div class="col-sm-12 col-med-12 col-lg-6"
                                 *ngFor="let item of category.items"
                                 (click)="toggleItemCrossedOff(item)"
                                 (dblclick)="removeTagFromList(item)">
                                <div>
                                    <span class="{{item.crossed_off ? 'itemCrossedOff': ''}}">
                                        {{item.tag.name}}</span>
                                    <ng-container *ngIf="!(category.is_frequent)">
                                        <span *ngIf="item.used_count > 1 && !showItemLegends">({{item.used_count}}
                                            )</span>
                                        <span *ngIf="showLegends(item)" class="legend-combined-box">
                                        <ng-container *ngFor="let dishSource of item.source_keys">
                                            <span *ngIf="iconSourceForKey(dishSource, false)" class="legend-box">
                                            <img [src]="iconSourceForKey(dishSource, false)" width="15"
                                                 height="15"/></span>
                                        </ng-container>
                                    </span>

                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end category loop -->

                </div>
            </div>
            <!-- shopping list ends -->
            <!-- sidebar starts -->
            <div class="col-md-4 col-lg-3 order-md-last">
                <!-- actions -->
                <div class="ls-flat-card ls-card-contents">
                    <ng-container *ngIf="showActions">

                        <table  *ngIf="frequentToggleAvailable" class="display-frequent">
                            <tr>
                                <td class="display-frequent">Display Frequent</td>
                                <td class="display-frequent"><p-inputSwitch [(ngModel)]="showFrequent" (onChange)="toggleShowFrequent()"></p-inputSwitch></td>
                            </tr>
                        </table>


                        <div *ngIf="!showAddList" (click)="toggleAddList()">
                            <span class="action-link">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Add List
                            </span>
                        </div>
                        <div *ngIf="showAddList">
                            <app-list-select class="at-tag-select-style"
                                            [currentListId]="shoppingList.list_id"
                                            (listSelected)="addListToList($event)"
                                            (cancelSelectList)="toggleAddList()"></app-list-select>
                        </div>
                        <div *ngIf="!showAddItem" (click)="toggleAddItem()">
                            <span class="action-link">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Add Item
                            </span>
                        </div>
                        <div *ngIf="showAddItem">
                            <app-tag-select class="at-tag-select-style"
                                            [tagTypes]="'Ingredient,NonEdible'"
                                            [selectType]="'Assign'"
                                            [allowAdd]="true"
                                            [showCancelButton]="true"
                                            [placeholderText]="'Add Item'"
                                            (tagSelected)="addTagToList($event)"
                                            (cancelAddTag)="toggleAddItem()"></app-tag-select>
                        </div>
                        <div *ngIf="!showAddDish" (click)="toggleAddDish()">
                            <span class="action-link">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Add Dish
                            </span>
                        </div>


                        <div *ngIf="showAddDish">
                            <app-dish-select class="at-tag-select-style"
                                             [showCancelButton]="true"
                                             [showText]="'Select Dish'"
                                             [dishList]="allDishes"

                                             (dishSelected)="addDishToList($event)"
                                             (cancelSelectDish)="toggleAddDish()"></app-dish-select>
                        </div>
                        <div>
                            <span class="action-link" (click)="toggleShowChangeName()">
                                <i class="fa fa-angle-right"  aria-hidden="true"></i>Change Name
                            </span>
                        </div>
                        <div *ngIf="!shoppingListIsStarter">
                            <span class="action-link" (click)="makeStarterList();">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Make Starter List
                            </span>
                        </div>

                        <div>
                            <span class="action-link">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Clear List
                            </span>
                        </div>
                    </ng-container>
                    <div class="action-button-right">
                        <a (click)="toggleShowActions()">
                            <img *ngIf="showActions" class="sm-button" src="../../../assets/images/listshop/icons/orangeround/chevronsup.png"
                                 alt="add">
                            <img *ngIf="!showActions" class="sm-button" src="../../../assets/images/listshop/icons/orangeround/chevronsdown.png"
                                 alt="add">
                        </a>
                    </div>
                </div>
                <!-- end actions -->
                <!-- legend -->
                <div *ngIf="!shoppingListIsStarter && legendList.length > 0" class="ls-legend">
                    <ul>
                        <li *ngFor="let source of legendList">
                            <table class="legend-table">
                                <tr>
                                    <td (click)="highlightSource(source.key)"><img [src]="iconSourceForKey(source.key, true)" width="20" height="20"/></td>
                                    <td (click)="highlightSource(source.key)">{{source.display}}</td>
                                    <td (click)="removeDishOrList(source.key);"><span class="fa-trash fa" ></span></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
                <!-- end legend -->
                <!-- removed -->
                <div *ngIf="removedItems.length > 0" class="ls-flat-card">
                    <h3>Removed Items</h3>
                    <ul>
                        <li *ngFor="let item of removedItems" (dblclick)="reAddItem(item)">
                            {{
                            item.tag.name
                            }}

                        </li>
                    </ul>
                    <div class="ls-card-link" (click)="clearRemoved()">clear</div>
                </div>
                <!-- end removed -->
            </div>
            <!-- sidebar end -->
        </div>
    </div>
</section>
<!-- list Section End -->
