@import '../../../assets/scss/variable';


:host ::ng-deep .p-inputswitch-checked {
  .p-inputswitch-slider {
    background: $color_basic_orange;
  }

  &:not(.p-disabled):hover .p-inputswitch-slider {
  background: $color_basic_orange;}

}



.action-link {
  color: $color_tapa;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    color: $color_basic_orange;
    transition: all 0.2s ease;
  }

  .fa {
    margin-right: 5px;
  }
}

table.legend-table {
  width: 100%;

  tr {
    td {
      text-align: left;
      text-transform: capitalize;
    }

    td:nth-child(1) {
      width: 10%;
    }

    td:nth-child(3) {
      width: 10%
    }
  }
}

table.display-frequent {
    width: 100%;

    td {
      text-align: left;
      text-transform: capitalize;
      color: $color_tapa;
    }

    td:nth-child(2) {
      width: 30%;
    }
}
.ls-list-column-header-special {
    box-shadow: 1px 1px 4px #e67d21b5;
    border-color: #e67d21;
  }


