@import '../../../assets/scss/variable';


:host ::ng-deep .p-inputswitch-checked {
  .p-inputswitch-slider {
    background: $color_basic_orange;
  }

  &:not(.p-disabled):hover .p-inputswitch-slider {
    background: $color_basic_orange;
  }
  &:enabled:focus {
    box-shadow: unset;
    border-color: unset;
  }

}

:host ::ng-deep .p-inputtext {
  padding: 1px;
  border: 1px solid $color_tapa;
  text-indent: 2px;
  &:enabled:focus {
    box-shadow: unset;
 border-color: $color_tapa;
}
  &:enabled:hover {
    border-color: $color_tapa;
  }

}


:host ::ng-deep .p-focus {
&:hover .p-inputswitch-slider {
outline: 0 none;
outline-offset: 0;
box-shadow: unset;
}
&:active .p-inputswitch-slider {
outline: 0 none;
outline-offset: 0;
box-shadow: unset;
}
&:hover  {
outline: 0 none;
outline-offset: 0;
box-shadow: unset;
}
&:active {
outline: 0 none;
outline-offset: 0;
box-shadow: unset;
}
outline: 0 none;
outline-offset: 0;
box-shadow: unset;

}



table.legend-table {
width: 100%;

tr {
td {
  text-align: left;
  text-transform: capitalize;
}

td:nth-child(1) {
  width: 10%;
}

td:nth-child(3) {
  width: 10%
}
}
}


.change-name {
input {
text-indent: 5px;

&:focus {
  outline: none;
}
}

span {
padding-left: 10px;
}
}

.empty-list {
width: 100%;
padding-top: 100px;
padding-bottom: 100px;
text-align: center;
color: $color_tapa;
}

table.display-frequent {
width: 100%;

td {
text-align: left;
text-transform: capitalize;
color: $color_tapa;
}

td:nth-child(2) {
width: 30%;
}
}

.ls-list-column-header-special {
box-shadow: 1px 1px 4px #e67d21b5;
border-color: #e67d21;
}


