<div class="ls-panel " >

    <div>
        <div class = "add-list-title">
            {{title}}
        </div>
        <ul>
            <li *ngFor="let list of listOfLists"  class="add-link"
                (click)="listIsSelected(list)">
                {{list.name}}
            </li>

        </ul>
    </div>

    <div  (click)="cancelListInput()" class="cancel-link">
        <img class="sm-button" src="../../../assets/images/listshop/icons/orangeround/xmarksthespot.png"
             alt="add">
    </div>
</div>

