@import '../../../../assets/scss/variable';
.home-two {
  margin-top: 0px;
  background-image: url("../../../../assets/images/listshop/applanding/background_landing.png");
  background-color: $color_basic_orange;


}

.applanding {
  padding-top: 10px;
}
