@import '../../../../assets/scss/variable';
.home-two {
  margin-top: 0px;
  background-image: url("../../../../assets/images/listshop/applanding/background_landing.png");
  background-color: $color_basic_orange;


}

.subheading {
  text-align: right;
}
.applanding {
  padding-top: 10px;
}

.feedback-button {
  max-width: 150px;

}

.feedback-paragraph {
  margin-top: 50px;
  text-align:right;

}

img.social {
  max-width: 50px;
  padding-left: 10px;
}

p.social {
  text-align: right;
}


