<div  style="text-align:right">
  <span class="ui-inputgroup" style="float:right;">
  <p-autoComplete
          [(ngModel)]="autoSelectedTag"
          [suggestions]="filteredTags"
          (completeMethod)="filterTags($event)"
          field="name"
          [inputStyleClass]="dispClass"
          [delay]="200"
          (onSelect)="bingo($event)"
          (keyup.enter)="checkSearchEnter(focusanchor)"
          placeholder="{{placeholderText}}" [minLength]="1" #focusanchor></p-autoComplete>
  <span *ngIf="showCancelButton" class="searchbox-group-button ui-inputgroup-addon searchbox-group-button"
        style="color: white;
    background-color: #4a6288;"
        (click)="cancelSelectTag()"> <span
          class="fa-times fa"></span></span>
</span>
</div>


<div *ngIf="showAddTags" class="dropdown-overlay " style="top:30px">

    <ng-container *ngFor="let ttype of allTagTypes">
        <button *ngIf="isIncluded(ttype)" class="dish-tag-element list-color"
                (click)="add(ttype)">
            Add {{ttype}} Tag
        </button>
    </ng-container>

    <button class="dish-tag-element main-color"
            (click)="cancelAdd()">
        Cancel
    </button>
</div>

