<!--Home Section start-->
<section id="home" class="home home-two vertical-scrolling">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="home-contain">
          <div class="text-white">
            <div class="contain">
              <h4>Welcome To</h4>
              <h1 class="text-white">The List Shop
              </h1>
              <p class="slide-cap-desc"></p>
               <a *ngIf="isLoggedIn" [routerLink]="'/home/theapp'"><img src="../../../../assets/images/appstore.png" alt="appstore" class="store"></a>
               <a *ngIf="!isLoggedIn" [routerLink]="'/home/loggedout/theapp'"><img src="../../../../assets/images/appstore.png" alt="appstore" class="store"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="home-right">
          <img data-tilt data-tilt-perspective="110" data-tilt-speed="400" data-tilt-max="1.2" src="../../../../assets/images/home2/slider-caption.png" class="img-fluid" alt="slider-caption">
        </div>
      </div>
    </div>
  </div>
</section>
<!--Home Section End-->
