:host ::ng-deep span.p-autocomplete {
  display:block;
}

:host ::ng-deep input.p-autocomplete-input {
  width: 100%;
  &:focus {
    outline: black auto 1px;
  }

}

:host ::ng-deep .p-autocomplete-item {
  white-space: normal;
}

:host ::ng-deep .p-highlight {
  background-color: #777777;
  color: white;
}

.cancel-button {
  text-align: left;
  width: min-content;
  padding-left: 3px;
}

.autocomplete-input {
  width: 90%;
}


table {
  width: 100%;

  tr {
    width:100%;
    td.first-column {
    width:90%;
  }
    td:nth-child(2) {
    text-align: center;
    background-color: #e67d21;
    color: white;
  }
  }

}