<div *ngIf="this.showAsInputGroup" style="width:100%; display: block">

</div>
<table>
    <tr>
        <td>
            <p-autoComplete [(ngModel)]="autoSelectedDish"
                            [suggestions]="filteredDishList"
                            (completeMethod)="filterDishes($event)"
                            field="name"
                            inputStyleClass="autocomplete-input"
                            panelStyleClass="autocomplete-panel"
                            styleClass="ls-autocomplete"
                            autoHighlight="true"
                            (onSelect)="bingo($event)"

                            placeholder="{{showText}}" [minLength]="1" #focusanchor> -->
            </p-autoComplete>
        </td>
<ng-container *ngIf="showCancelButton">
        <td  class="cancel-button" (click)="cancelDishInput()">X</td>
</ng-container>
        <ng-container *ngIf="!showCancelButton">
            <td class="no-cancel-button"></td>
        </ng-container>
    <tr>
</table>


