<!-- sign up start-->
<section class="authentication-form">
    <div class="innerpage-decor">
        <div class="innerpage-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
        <div class="innerpage-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
    </div>
    <div>
        <h2 class="title text-center"><span>Processing Token</span></h2>
        <div class="card" style="text-align: center;">

            Processing
        </div>
    </div>
</section>
<!-- sign up end-->
