<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">
                <h2 class="title"><span>Dishes</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--breadcrumb start-->
<div class="breadcrumb-bg breadcrumb-for-bar">
    <div class="container dish-toolbar">
        <div class="row">
            <div class=" col-sm-6 col-md-8 col-lg-8">
            <span class="button-icon">
                <input type="text" class="form-control searchbox"
                       placeholder="Search By Dishname"
                       [(ngModel)]="searchValue"
                       (keyup)="filterByDishname()"
                       (keyup.enter)="clearSearchValue()"
                /><!--<img src="../../../assets/images/listshop/icons/orangeround/search.png" alt="add" />-->
            </span>
                <span class="button-icon" style="margin-left: 10px">
                                   <app-tag-select class="at-tag-select-style"
                                                   [tagTypes]="'Ingredient,Rating,DishType,TagType'"
                                                   [selectType]="'All'"
                                                   [groupType]="groupType"
                                                   [allowAdd]="false"
                                                   [showCancelButton]="false"
                                                   [placeholderText]="'Filter Results'"
                                                   (tagSelected)="addTagToFilter($event)"></app-tag-select>

            </span>

            </div>
            <div class="col-md-4 col-sm-6 col-text-end">
                <div class="sort-display">
                    <!--    Name <img src="../../../assets/images/listshop/icons/white/arrowup.png" alt="add"> -->
                    <span *ngIf="showOrderBy">
                    <select name="sortkey" [(ngModel)]="sortKey" class="sort-select" (change)="changeSort()">
                       <option *ngFor="let sortkey of sortOptions" [value]="sortkey">{{sortkey}}</option>
                    </select>

                    <img *ngIf="isSortUp()" src="../../../assets/images/listshop/icons/white/arrowup.png"
                         (click)="changeSortDirection()" alt="sort-ascending">
                    <img *ngIf="!isSortUp()" src="../../../assets/images/listshop/icons/white/arrowdown.png"
                         (click)="changeSortDirection()" alt="sort-ascending">
                    <img class="check" (click)="toggleShowOrderBy()"
                         src="../../../assets/images/listshop/icons/orangeround/check.png" alt="sort-done">
                    </span>

                    <span *ngIf="!showOrderBy" (click)="toggleShowOrderBy()" style="padding-left:5px">
                    {{sortKey}}
                        <img *ngIf="isSortUp()" src="../../../assets/images/listshop/icons/white/arrowup.png"
                             alt="sort-ascending">
                    <img *ngIf="!isSortUp()" src="../../../assets/images/listshop/icons/white/arrowdown.png"
                         alt="sort-ascending">
                        </span>
                </div>


                <span><a [routerLink]="'/home'" class="add-button">
                    <img src="../../../assets/images/listshop/icons/orangeround/orangeadd.png" alt="add"></a></span>
            </div>

        </div>
    </div>
    <!-- active filter display -->
    <div class="container active-filter-container">
        <div class="row">
            <div class=" col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div *ngFor="let tag of filterTags"
                         class="col active-filter-block"
                         (dblclick)="removeTagFromFilter(tag)"
                         (click)="toggleInvert(tag)"
                    >{{tag.name}}
                        <img *ngIf="tag.is_inverted"
                             src="../../../assets/images/listshop/icons/orangeplain/circleminus.png" alt="add">
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- active filter display -->
</div>
<!--breadcrumb end -->

<!--content start-->
<section>
    <div class="container">
        <div class="row">

            <div class="col-md-{{hasSelected ? 9 : 12}} ">
                <div class="row ">
                    <!-- single dish element -->
                    <div *ngFor="let dish of filteredDishes, let i = index"
                         class="col-lg-{{hasSelected ? 4 : 3}} col-md-6">

                        <!-- single list element -->
                        <app-single-dish-element
                                [dish]=dish
                                [fullDisplay]="true"
                                (edit)="editDish($event)"
                                (select)="selectDish($event)"></app-single-dish-element>
                        <!-- single list element -->


                    </div>
                    <!-- single dish element -->
                </div>
            </div>
            <div *ngIf="hasSelected" class="col-md-3 sticky-top">


                <!-- selected dishes -->
                <div class="ls-dish-management-legend">
                    <div class="selected-title">Selected Dishes</div>
                    <div *ngFor="let selectedDish of selectedDishes"
                         class="selected-dish"
                         (click)="unSelectDish(selectedDish.dish_id)">
                        {{selectedDish.name}}
                    </div>
                </div>
                <!-- selected dishes -->

                <!-- commands -->
                <div class="ls-dish-flat-card ls-card-contents">

                    <div *ngIf="!showAddTag" (click)="toggleAddTag()"><span class="action-link">
                        <i aria-hidden="true" class="fa fa-angle-right"></i>
                        Add Tag to Selected</span>
                    </div>
                    <div *ngIf="showAddTag">
                        <app-tag-select class="at-tag-select-style"
                                        [tagTypes]="'Ingredient,Rating,DishType,TagType'"
                                        [selectType]="'Assign'"
                                        [allowAdd]="true"
                                        [showCancelButton]="true"
                                        [placeholderText]="'Add Tag'"
                                        (tagSelected)="addTagToDishes($event)"
                                        (cancelAddTag)="toggleAddTag()"></app-tag-select>
                    </div>
                    <div (click)="toggleAddToMealplan()"><span class="action-link">
                        <i aria-hidden="true" class="fa fa-angle-right"></i>
                        Add Selected To Meal Plan </span>
                    </div>
                    <div *ngIf="showAddToMealplan" (click)="toggleAddToMealplan()">
                        <app-mealplan-select class="at-tag-select-style"
                                         [title] = "'Select Mealplan'"
                                         [showNewOption] = "true"
                                         (mealplanSelected)="addDishesToMealplan($event)"
                                         (addToNewMealplan)="addDishesToNewMealplan()"
                                         (cancelSelectMealplan)="toggleAddToMealplan()"></app-mealplan-select>
                    </div>
                    <div  (click)="toggleAddToList()"><span class="action-link">
                        <i aria-hidden="true" class="fa fa-angle-right"></i>
                        Add Selected To List </span>
                    </div>
                    <div *ngIf="showAddToList">
                        <app-list-select class="at-tag-select-style"
                                         [currentListId]="0"
                                         [title] = "'Select List'"
                                         (listSelected)="addDishesToList($event)"
                                         (cancelSelectList)="toggleAddToList()"></app-list-select>
                    </div>
                    <div><span class="action-link">
                        <i aria-hidden="true" class="fa fa-angle-right"></i>
                        Generate List </span>
                    </div>
                </div>
                <!-- commands -->

            </div>

        </div>
    </div>
</section>
<!--content End-->
