<!-- sign in start -->
<section class="authentication-form">
    <div class="innerpage-decor">
        <div class="innerpage-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
        <div class="innerpage-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
    </div>
    <div>
        <h2 class="title text-center"><span> Login</span></h2>
        <div class="card">
            <form name="form" class="theme-form" (submit)="f.form.valid && doLogin()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted  }">
                    <input type="text"
                           placeholder = "email address"
                           class="form-control"
                           name="username"
                           [(ngModel)]="username" required />
                    <span *ngIf="f.submitted  " class="help-block">Username is required</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted  }">
                    <input type="password" placeholder = "password"  class="form-control" name="password" [(ngModel)]="password"  required />
                    <span *ngIf="f.submitted " class="help-block">Password is required</span>
                </div>
                <div class="form-button text-center">
                    <button class="user-button">Login</button>
                </div>
<!--
                <div *ngIf="error" class="alert alert-error">{{error}}</div> -->
            </form>
        </div>
    </div>
</section>
<!-- sign in end-->
