<!-- sign in start -->
<section class="authentication-form">
    <div class="innerpage-decor">
        <div class="innerpage-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
        <div class="innerpage-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
    </div>
    <div>
        <h2 class="title text-center"><span> Login</span></h2>
        <div class="card">
            <form [formGroup]="loginForm"
                  (keydown)="focuser.focus(); keyPressSubmit($event, loginForm)"
                  (ngSubmit)="doLogin()"
                  #formDir="ngForm" class="theme-form">
                <div class="form-group">
                    <input type="email" class="form-control" formControlName="email" placeholder="email address"
                           required >
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="userPassword" placeholder="userPassword address"
                           required >
                </div>
                <div class="form-button text-center">
                    <button type="submit" class="btn btn-custom btn-lg theme-color" >Login</button>
                    <input type="hidden" #focuser />
                </div>
            </form>
        </div>
    </div>
</section>
<!-- sign in end-->
