<!-- sign up start-->
<section class="authentication-form">
    <div class="innerpage-decor">
        <div class="innerpage-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
        <div class="innerpage-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
    </div>
    <div>
        <h2 class="title text-center"><span>Email Sent</span></h2>
        <div class="card">
            <p class="instructions">We've sent the email, containing the link you can use to reset your password.</p>
            <p class="instructions">If you haven't received the email, please check your spam. If you continue to have
                issues, or would you have questions, please contact us at
                <a class="emailus" href="mailto:{{email}}">support@the-list-shop.com</a></p>
        </div>
    </div>
</section>
<!-- sign up end-->
