@import '../../../assets/scss/variable';

:host ::ng-deep .p-inputswitch-checked {
  .p-inputswitch-slider {
    background: $color_basic_orange;
  }

  &:not(.p-disabled):hover .p-inputswitch-slider {
    background: $color_basic_orange;
  }
  &:enabled:focus {
    box-shadow: unset;
    border-color: unset;
  }

}

:host ::ng-deep .p-inputtext {
  padding: 1px;
  border: 1px solid $color_tapa;
  text-indent: 2px;
  &:enabled:focus {
    box-shadow: unset;
    border-color: $color_tapa;
  }
  &:enabled:hover {
    border-color: $color_tapa;
  }

}


:host ::ng-deep .p-focus {
  &:hover .p-inputswitch-slider {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset;
  }
  &:active .p-inputswitch-slider {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset;
  }
  &:hover  {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset;
  }
  &:active {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: unset;
  }
  outline: 0 none;
  outline-offset: 0;
  box-shadow: unset;

}

:host ::ng-deep input.p-inputtext {
  background: url("../../../assets/images/listshop/icons/orangeplain/filter.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 98%;
  background-position-y: center;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  font-family: Poppins, sans-serif;
}
.autocomplete-override:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(230, 125, 33, 0.25);
  border-color: $color_basic_orange;
}


.loading-box {
  width: 100%;
  background-color: white;
  border-width: 1.0px;
  border-style: solid;
  min-height: 300px;
  padding: 15px;

  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-color: #979797;

  .loading-text {
    text-align: center;
    padding-top: 110px;
    color: $color_tapa;
    letter-spacing: 4px;
    text-transform: uppercase;
  }



}


.generate-panel {
  padding-top: 20px;

  table {
    width: 100%;
    padding-top: 20px;
  }


  td {
    text-align: left;
    text-transform: capitalize;
    color: $color_tapa;
  }

  td:nth-child(2) {
    width: 30%;
  }


}

table.generate-action {
  width: 100%;

  td {
    width:100%;
    text-align: right;
    text-transform: uppercase;
    padding-bottom: 8px;
    color: $color_tapa;

  }
  td:hover {
    color: $color_basic_orange;
  }





}

