<!-- title start -->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">
                <h2 class="title"><span>Meal Plan</span></h2>
            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!-- title end -->
<!--breadcrumb start-->
<div class="breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-10">
                <h2 class="title">
                    <div *ngIf="showChangeName" class="change-name">
                        <input type="text" class=""
                               placeholder="{{shoppingList.name}}"
                               [(ngModel)]="mealPlanName"
                               (keyup.enter)="saveMealPlanName()"
                        />
                        <span (click)="saveMealPlanName()"><img class="lg-button" src="../../../assets/images/listshop/icons/orangeround/large/check.png"
                                                                alt="add" ></span>
                        <span (click)="toggleShowChangeName()"><img  class="lg-button" src="../../../assets/images/listshop/icons/orangeround/large/xmarksthespot.png"
                                                                     alt="add" ></span>


                    </div>
                    <ng-container *ngIf="!showChangeName">
                        {{mealPlan ? mealPlan.name : 'none'}}
                        <span><img *ngIf="shoppingListIsStarter" class="lg-button" src="../../../assets/images/listshop/icons/orangeround/large/zap.png"
                                   alt="add" >
                </span>
                    </ng-container>

                </h2>
            </div>
            <div class="col-md-4 col-lg-2 order-md-last title-bar-action">
                <a class="nav-link" [routerLink]="'/mealplans'">All Plans</a>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb end -->
<!-- list Section starts -->
<section>
    <div class="container">
        <div class="row">
            <!-- shopping list starts -->
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div *ngIf="mealPlan" class="row">
                    <!-- start category loop -->
                    <div *ngFor="let dish of planDishes, let i = index"
                         class="col-sm-12 col-med-6 col-lg-6">
<app-plan-dish-element
        dishId="{{dish.dish_id}}"
        dishName="{{dish.name}}"
        reference="{{dish.reference}}"
        (doubleTap)="beep($event)">
</app-plan-dish-element>
                    </div>
                    <!-- end category loop -->

                </div>
            </div>
            <!-- shopping list ends -->
            <!-- sidebar starts -->
            <div class="col-md-4 col-lg-3 order-md-last">
                <!-- actions -->
                <div class="ls-flat-card ls-card-contents">
                    <ng-container *ngIf="showActions">

                        <!-- Select Dishes -->
                        <div>
                            <span class="action-link" (click)="goToDishSelect()" >
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Select Dishes
                            </span>
                        </div>

                        <!-- Quick Add Dish -->
                        <div *ngIf="!showAddDish">
                            <span class="action-link" (click)="toggleAddDish()">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Quick Add Dish
                            </span>
                        </div>
                        <div *ngIf="showAddDish">
                            <app-dish-select class="at-tag-select-style"
                                             [showCancelButton]="true"
                                             [showText]="'Select Dish'"
                                             [dishList]="allDishes"

                                             (dishSelected)="addDishToPlan($event)"
                                             (cancelSelectDish)="toggleAddDish()"></app-dish-select>
                        </div>



                        <div>
                            <span class="action-link" (click)="copyMealPlan()">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Copy Meal Plan
                            </span>
                        </div>
                        <div *ngIf="!showAddToList">
                            <span class="action-link" (click)="toggleAddToList()">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Add to List
                            </span>
                        </div>
                        <div *ngIf="showAddToList">
                            <app-list-select class="at-tag-select-style"
                                             [currentListId]="1"
                                             [title]="'Add to List'"
                                             (listSelected)="addMealPlanToList($event)"
                                             (cancelSelectList)="toggleAddToList()"></app-list-select>
                        </div>


                        <div>
                            <span class="action-link" (click)="clearList()">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Generate List
                            </span>
                        </div>
                        <div>
                            <span class="action-link" (click)="clearList()">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>Change Name
                            </span>
                        </div>

                    </ng-container>
                    <div class="action-button-right">
                        <a (click)="toggleShowActions()">
                            <img *ngIf="showActions" class="sm-button" src="../../../assets/images/listshop/icons/orangeround/chevronsup.png"
                                 alt="add">
                            <img *ngIf="!showActions" class="sm-button" src="../../../assets/images/listshop/icons/orangeround/chevronsdown.png"
                                 alt="add">
                        </a>
                    </div>
                </div>
                <!-- end actions -->

            </div>
            <!-- sidebar end -->
        </div>
    </div>
</section>
<!-- list Section End -->


<app-modal #mealplancopied [autoHide]="2500">
    <div class="app-modal-body">
        Meal Plan successfully copied
        <div *ngIf="copiedId != null" style="float:right"><a class="modal-link" (click)="showCopiedMealPlan()">
            Edit New Meal Plan</a></div>
    </div>
</app-modal>