<!-- Nav Start -->
<nav class="navbar navbar-expand-lg navbar-light theme-nav fixed-top darkHeader" >
  <div class="container">
    <a [routerLink]="'/home'">
      <div class="ls-logo-img"></div>
      <div class="ls-logo-title">the list shop</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isOpenMobile=!isOpenMobile">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse default-nav" id="navbarSupportedContent" [class.show]="isOpenMobile">
      <ul class="navbar-nav ml-auto" id="mymenu">
        <li class="nav-item">
          <a class="nav-link" #home [routerLink]="'/home'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/home'" [fragment]="'about'">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="'/home'" [fragment]="'feature'">feature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   [routerLink]="'/home'" [fragment]="'testimonial'">idea</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="'/lists/manage'">my lists</a>
        </li>
        <li #partyButton class="nav-item beepy"  >
          <a appTestConf="true" class="nav-link " [routerLink]="'/lists/manage'">we're celebrating!</a>
        </li>
        <div *ngIf="!isLoggedIn" ngbDropdown class="nav-item dropdown">
          <button class="btn bg-transparent nav-link dropdown-toggle" id="dropdownMenuButton" ngbDropdownToggle>Login</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dropdown-menu">
          <a class="nav-link" [routerLink]="'/user/login'">sign in</a>
          <a class="nav-link" [routerLink]="'/user/signup'">sign up</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
<!-- Nav end-->
