@import '../../../assets/scss/_variable.scss';

$url_header_logo: url(../../../assets/images/listshop/header/logoorange.png);

.theme-nav .nav-item:hover .nav-link {
  color: $color_basic_orange;
}

.navbar-light {
  .ls-logo-title {
    color: $color_basic_orange;
  }

}

.ls-theme-functional-nav {
  .navbar-brand {
    .ls-logo-img {
      background-image: $url_header_logo;
    }
  }
}




