<app-celebration></app-celebration>
<!-- Footer Section start -->
<div class="footer-link-section index-footer">
    <span class="footer-link"><a [routerLink]="'/home/aboutme'">About</a></span>
    <span class="footer-link"><a [routerLink]="'/home/privacy'">Privacy Policy</a></span>
    <span class="footer-link">Contact: <a href="mailto:support@the-list-shop.com">support@the-list-shop.com</a></span>
</div>
<div class="copyright-section index-footer">
  <p style="display:none">webclient version: {{version}}</p>
  <p>{{today | date:'y'}} copyright by <span class="listshop-name">the list shop</span></p>
</div>
<!-- Footer Section End -->
<!-- Tap on Top -->
<div [ngClass]="{'tap-top': showScroll}" (click)="onActivate()">
  <div>
    <i class="fa fa-angle-double-up"></i>
  </div>
</div>
<!-- Tap on Ends -->

