<!-- sign up start-->
<section class="authentication-form">
    <div class="innerpage-decor">
        <div class="innerpage-circle1"><img src="assets/images/Testimonial2.png" alt=""></div>
        <div class="innerpage-circle2"><img src="assets/images/Testimonial1.png" alt=""></div>
    </div>
    <div>
        <h2 class="title text-center"><span>Sign Up</span></h2>
        <div class="card">

            <form [formGroup]="signUpForm" #formDir="ngForm" class="theme-form">
             <div class="form-group">
                    <input type="email" placeholder = "email address" class="form-control" formControlName="email" required >
                </div>
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                     class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        Emails are required, sleepyhead.
                    </div>
                    <div *ngIf="email.errors.minlength">
                        Email must be at least 6 characters long.
                    </div>
                    <div *ngIf="email.errors.pattern">
                        Please enter a valid email.
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" placeholder = "password" class="form-control" formControlName="userPassword" required >
                </div>
                <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)"
                     class="alert alert-danger">
                    <div *ngIf="userPassword.errors.required">
                        Password is required
                    </div>
                    <div *ngIf="userPassword.errors.minlength">
                        Password must be at least 6 characters long.
                    </div>
                    <div *ngIf="userPassword.errors.maxlength">
                        This password is too long.
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" placeholder = "confirm password" class="form-control" formControlName="confirmPassword" required >
                </div>
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                     class="alert alert-danger">
                    <div *ngIf="confirmPassword.errors.required">
                        Please confirm your password
                    </div>
                    <div *ngIf="confirmPassword.errors.passwordsDontMatch">
                        The passwords don't match
                    </div>
                </div>
                <div class="form-button text-center">
                    <button type="submit"  (click)="signUp()" class="btn btn-custom theme-color">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- sign up end-->
