<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">

            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--breadcrumb start-->
<div class="breadcrumb-bg breadcrumb-for-bar">
    <div class="container dish-toolbar">
        <div class="row">
            <div class=" col-sm-6 col-md-8 col-lg-8">
                <h2 class="title"><span>ADD INGREDIENTS - {{dish.name}}</span></h2>
            </div>
            <div class="col-md-4 col-sm-6 col-text-end">

            </div>

        </div>
    </div>

</div>
<!--breadcrumb end -->

<!--content start-->
<section>
    <div class="container">
        <div class="row">
            <div *ngIf="isLoading" class="col-md-12 " class="loading-box">
                <div class="loading-text">loading dish...</div>
            </div>
            <ng-container *ngIf="!isLoading">
                <div class="col-md-12 ">
                    <div class="row ">
                        <!-- left top row element, eckdaten -->
                        <div class="col-lg-12 col-md-12">
                            <!-- description -->
                            <div class="ls-card">
                                <div class="ls-tag-group-subtitle">Ingredients:
                                </div>
                                <div class="ls-add-tag">

                                    <app-tag-select class="at-tag-select-style"
                                                    [tagTypes]="'Ingredient'"
                                                    [groupType]="ingredientGroupType"
                                                    [allowAdd]="true"
                                                    [showCancelButton]="true"
                                                    [placeholderText]="'Add Ingredient'"
                                                    (createTag)="createTag($event)"
                                                    (tagSelected)="addTagToDish($event)"
                                                    (cancelAddTag)="toggleAddIngredient()"></app-tag-select>

                                </div>

                                <div class="ls-card-link-block"><a
                                        class="ls-card-link" [routerLink]="['/dishes/edit', dish.dish_id]">done</a></div>

                                <span *ngFor="let tag of ingredientTags" class="ls-list-span"
                                      (click)="removeTagFromDish(tag)">{{tag.name}}</span>
                                <div>
                                    <div class="clearfix spacer50"></div>
                                </div>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- left top row element, eckdaten -->
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<!--content End-->

<app-modal #addtag >
    <div class="app-modal-body">
        <app-create-tag-dialog
                [tagName]="tagNameToCreate"
                [addTargetString]="'dish'"
                [tagType]="tagTypeToCreate"
                (createdTagId)="addTagToDishById($event)">
        </app-create-tag-dialog>
    </div>
</app-modal>






