<!--title start-->
<div class="titlebar-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-text-center d-align-left">

            </div>
            <div class="col-md-6 col-sm-6 col-text-end">
            </div>
        </div>
    </div>
</div>
<!--title end -->
<!--breadcrumb start-->
<div class="breadcrumb-bg breadcrumb-for-bar">
    <div class="container dish-toolbar">
        <div class="row">
            <div class=" col-sm-6 col-md-8 col-lg-8">
                <h2 class="title"><span>ADD INGREDIENTS - {{ dish.name }}</span></h2>
            </div>
            <div class="col-md-4 col-sm-6 col-text-end">

            </div>

        </div>
    </div>

</div>
<!--breadcrumb end -->

<!--content start-->
<section>
    <div class="container">
        <div class="row">
            <div *ngIf="isLoading" class="col-md-12 " class="loading-box">
                <div class="loading-text">loading dish...</div>
            </div>
            <ng-container *ngIf="!isLoading">
                <div class="col-md-12 ">
                    <div class="row ">
                        <!-- left top row element, eckdaten -->
                        <div class="col-lg-12 col-md-12">
                            <!-- description -->
                            <div class="ls-card">
                                <div class="ls-tag-group-subtitle">Ingredients:
                                </div>
                                <div *ngIf="this.showAddIngredient" class="add-ingredient-in-tunnel">

                                    <app-add-ingredient-inline
                                            [ingredient]="selectedIngredient"
                                            [showCancel]="false"
                                            (editedIngredient)="addNewIngredient($event)"
                                    >
                                    </app-add-ingredient-inline>

                                </div>

                                <div class="ls-card-link-block"><a
                                        class="ls-card-link" [routerLink]="['/dishes/edit', dish.dish_id]">view dish</a>
                                </div>

                                <div class="ls-ingredient-item" *ngFor="let ingredient of ingredientTags" >
                                    <ng-container *ngIf="!isCurrentEdit(ingredient)">
                                        <span class="ls-ingredient-display">{{ingredientDisplay(ingredient)}}</span>
                                        <div *ngIf="editId == '0'" class="ls-ingredient-edit">
                                            <span (click)="showEditIngredient(ingredient)" class="ls-card-link">Edit</span>
                                            <span (click)="removeIngredientFromDish(ingredient)" class="ls-card-link">Delete</span>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="isCurrentEdit(ingredient)">
                                        <app-edit-ingredient-inline
                                                [ingredient]="selectedIngredient"
                                                (editedIngredient)="saveIngredientChanges($event)"
                                                (cancelEdit)="cancelIngredientEdit($event)"
                                        >
                                        </app-edit-ingredient-inline>
                                    </ng-container>
                                </div>
                                <div>
                                    <div class="clearfix spacer50"></div>
                                </div>


                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- left top row element, eckdaten -->
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<!--content End-->

<app-modal #addtag>
    <div class="app-modal-body">
        <app-create-tag-dialog
                [tagName]="tagNameToCreate"
                [addTargetString]="'dish'"
                [tagType]="tagTypeToCreate"
                (createdTagId)="addTagToDishById($event)">
        </app-create-tag-dialog>
    </div>
</app-modal>






